.Counter > button {
  border: none;
  outline: none;
  padding: 5px 6px;
  background-color: rgb(51, 170, 110);
  border-radius: 4px;
  color: rgb(235, 234, 234);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.Counter > button:hover {
  color: rgb(51, 170, 110);
  background-color: white;
}

.Counter-BtnSub {
  margin-left: 5px;
}
