.App {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.App-Container {
  background-color: lightgray;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.App-Counter,
.App-Input {
  background-color: rgb(216, 233, 231);
  padding: 15px;
}

.App-Counter {
  margin-bottom: 30px;
  text-align: center;
}
